* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Amatic SC', cursive;
    background: #2B292E;
    color: #fafafa;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    margin-bottom: 8rem;
    font-size: 4rem;
    letter-spacing:10px;
}

span {
    border-bottom: 1px solid #534f59;
    display: inline-block;
    font-size: 2rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 .1rem;
    text-align: center;
    text-transform: uppercase;
    width: 2.4rem;
}

p {
    font-weight: 300;
    margin-bottom: 2rem;
}

.puzzle {
    display: flex;
    margin-bottom: 4.8rem;
}

.button {
    font-family: 'Amatic SC', cursive;
    background: #19d3da;
    border: none;
    display:block;
    cursor: pointer;
    margin:auto;
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .8rem;
    letter-spacing: 3px;
    border-radius: 7px;
    transition: background .3s ease, color .3s ease;
}

.button:hover {
    background: #008891;
}

#hangman-puzzle{
    display: flex;
    flex-direction:column;
}